<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>M&F Assessoria</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/img/MFicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-success" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Aguarde...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid bg-light p-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-start">
                <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                    <small class="fa fa-map-marker-alt text-success me-2"></small>
                    <small>Rua São Teodoro, nº 808, Vila Carmosina, SP- Brasil</small>
                </div>
                <div class="h-100 d-inline-flex align-items-center py-3">
                    <small class="far fa-clock text-success me-2"></small>
                    <small>Seg - Sabádo : 07:00 - 21.00 HORAS</small>
                </div>
            </div>
            <div class="col-lg-5 px-5 text-end">
                <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                    <small class="fa fa-phone-alt text-success me-2"></small>
                    <small>+55 (11) 98849-44342</small>
                </div>
                <div class="h-100 d-inline-flex align-items-center">
                    <a class="btn btn-sm-square rounded-circle bg-white text-success me-1" href=""><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-sm-square rounded-circle bg-white text-success me-1" href=""><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-sm-square rounded-circle bg-white text-success me-1" href=""><i
                            class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-sm-square rounded-circle bg-white text-success me-0" href=""><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
        <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h1 class="m-0 text-success"><img class="icon" src="/img/MF.png" alt=""></i>M&F Asessoria</h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="/sobre" class="nav-item nav-link">Sobre</a>
                <a href="/servico" class="nav-item nav-link">Serviço</a>
                <a href="/regulatorio" class="nav-item nav-link">Regulatório</a>
                <a href="/contato" class="nav-item nav-link">Contato</a>
            </div>
            <a href="https://wa.me/5511988494342?text=%F0%9F%8C%9F%20Bem-vindo(a)%20%C3%A0%20M%26F%20Assessoria!%20%F0%9F%8C%9F%0A%0AEstamos%20aqui%20para%20oferecer%20suporte%20especializado%20em%20assuntos%20regulat%C3%B3rios%20de%20farm%C3%A1cias%20e%20drogarias%2C%20garantindo%20que%20voc%C3%AA%20esteja%20sempre%20em%20conformidade%20com%20as%20normas%20do%20setor.%0A%0AConfira%20nossas%20op%C3%A7%C3%B5es%20de%20servi%C3%A7os%3A%0A%0A1-Assuntos%20Regulat%C3%B3rios%0A2-Cursos%20de%20Regulat%C3%B3rio%0A3-Abertura%20de%20Drogaria%0A4-Cl%C3%ADnicas%20de%20Est%C3%A9tica%20e%20Distribuidoras%0A5-Outros%0A%0ASe%20precisar%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20algum%20desses%20temas%2C%20n%C3%A3o%20hesite%20em%20nos%20chamar!"
                class="btn btn-success text-white rounded-0 py-4 px-lg-5 d-none d-lg-block"
                target="_blank">Atendimento<i class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Header Start -->
    <div class="container-fluid header bg-success p-0 mb-5">
        <div class="row g-0 align-items-flex-start flex-column-reverse flex-lg-row">
            <div class="col-lg-6 p-5 wow fadeIn" data-wow-delay="0.1s">
                <h1 class="display-4 text-white mb-5">Dr(a).Maristela Rosa de Carvalho</h1>
                <div class="row g-4">
                    <div class="col-sm-4">
                        <div class="border-start border-light ps-4">
                            <h2 class="text-white mb-1" data-toggle="counter-up">27 - ANOS</h2>
                            <p class="text-light mb-0">Expert em Drogaria</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="border-start border-light ps-4">
                            <h2 class="text-white mb-1" data-toggle="counter-up">7 - ANOS</h2>
                            <p class="text-light mb-0">Especialista em Assuntos Regulatórios</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="border-start border-light ps-4">
                            <h2 class="text-white mb-1" data-toggle="counter-up">10 - ANOS</h2>
                            <p class="text-light mb-0">Aberturas e Funacionamento de Loja</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="owl-carousel header-carousel">
                    <div class="owl-carousel-item position-relative">
                        <img class="img-fluid" src="img/carousel-1.jpg" alt="">
                        <div class="owl-carousel-text">
                            <h1 class="display-1 text-success mb-0">Assuntos de Regulatório</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex flex-column">
                        <img class="img-fluid rounded w-75 align-self-end" src="img/about-1.jpg" alt="">
                        <img class="img-fluid rounded w-50 bg-white pt-3 pe-3" src="img/about-2.jpg" alt=""
                            style="margin-top: -25%;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="d-inline-block border rounded-pill py-1 px-4">Sobre</p>
                    <h1 class="mb-4 text-success">Especialidade de Assuntos de Drogaria!</h1>
                    <p class="mb-4">Os assuntos regulatórios de drogarias são fundamentais para garantir a segurança,
                        eficácia e qualidade dos medicamentos e produtos de saúde oferecidos ao público. Essas
                        regulamentações asseguram que as drogas sejam aprovadas por órgãos competentes, como a ANVISA no
                        Brasil, antes de serem comercializadas.</p>
                    <p class="mb-4">Além disso, a conformidade com as normas regulatórias protege os consumidores de
                        produtos falsificados ou de baixa qualidade e ajuda a manter a integridade do sistema de saúde.
                        A gestão eficaz de assuntos regulatórios também é crucial para as drogarias, pois assegura que
                        operem dentro da legalidade, evitando sanções e promovendo a confiança do consumidor. Dessa
                        forma, os assuntos regulatórios são essenciais tanto para a saúde pública quanto para o sucesso
                        comercial das drogarias.</p>
                    <p><i class="far fa-check-circle text-success me-3"></i>Qualidade Entrega do Estabelecimento</p>
                    <p><i class="far fa-check-circle text-success me-3"></i>Melhores Doutores para Atendimento</p>
                    <p><i class="far fa-check-circle text-success me-3"></i>Profissionalismo Total</p>
                    <a class="btn btn-success text-white rounded-pill py-3 px-5 mt-3" href="/contact">SAIBA MAIS</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Serviços</p>
                <h1 class="titles">Assuntos de Regulatórios</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                            style="width: 65px; height: 65px;">
                            <i class="fa fa-city text-success fs-4"></i>
                        </div>
                        <h4 class="mb-3">ANVISA</h4>
                        <p class="mb-4">A Agência Nacional de Vigilância Sanitária regula produtos e serviços que
                            envolvem a saúde pública. Ela é responsável pela aprovação de medicamentos, insumos, e
                            normas que garantem a segurança dos consumidores</p>
                        <a class="btn" href="/contact"><i class="fa fa-plus text-success me-3"></i>SOLICITE O
                            ORÇAMENTO</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                            style="width: 65px; height: 65px;">
                            <i class="fa fa-building text-success fs-4"></i>
                        </div>
                        <h4 class="mb-3">SIVISA</h4>
                        <p class="mb-4">O Sistema de Vigilância Sanitária atua na fiscalização e controle de serviços de
                            saúde, assegurando que farmácias e drogarias cumpram as normas estabelecidas para proteção
                            da saúde da população.</p>
                        <a class="btn" href="/contact"><i class="fa fa-plus text-success me-3"></i>SOLICITE O
                            ORÇAMENTO</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                            style="width: 65px; height: 65px;">
                            <i class="fa fa-file-contract text-success fs-4"></i>
                        </div>
                        <h4 class="mb-3">Entre Outros Procedeiros</h4>
                        <p class="mb-4">Além dos temas listados, existem diversas outras regulamentações e normativas
                            que devem ser observadas para garantir a conformidade e segurança no funcionamento de
                            farmácias e drogarias.</p>
                        <a class="btn" href="/contact"><i class="fa fa-plus text-success me-3"></i>SOLICITE O
                            ORÇAMENTO</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Feature Start -->
    <div class="container-fluid bg-success text-light overflow-hidden my-5 px-lg-0">
        <div class="container feature px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.1s">
                    <div class="p-lg-5 ps-lg-0 m-5">
                        <p class="d-inline-block border rounded-pill text-light py-1 px-4">Metodologia</p>
                        <h1 class="text-white mb-4">Como trabalhamos?</h1>
                        <p class="text-white mb-4 pb-2">A metodologia para realizar assuntos regulatórios em drogarias
                            envolve a coleta de informações sobre os produtos, análise das normas pertinentes e
                            preparação da documentação necessária para registro. Após a submissão dos documentos aos
                            órgãos reguladores, é importante manter comunicação constante com as autoridades e capacitar
                            a equipe sobre as normas e boas práticas. Além disso, deve-se implementar um sistema de
                            monitoramento para garantir a conformidade contínua, gerenciar riscos relacionados à
                            segurança dos produtos e acompanhar mudanças nas legislações, adaptando os processos
                            conforme necessário. Essa abordagem assegura a legalidade das operações e a segurança dos
                            produtos oferecidos aos consumidores.</p>
                            <br>
                        <div class="row1 g-4">
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
                                        style="width: 55px; height: 55px;">
                                        <i class="fa fa-user-md text-success"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-white mb-2">Experiência</p>
                                        <h5 class="text-white mb-0">Farmacêuticos</h5>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
                                        style="width: 55px; height: 55px;">
                                        <i class="fa fa-check text-success"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-white mb-2">Qualidade</p>
                                        <h5 class="text-white mb-0">Serviços</h5>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
                                        style="width: 55px; height: 55px;">
                                        <i class="fa fa-comment-medical text-success"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-white mb-2">Paceiros</p>
                                        <h5 class="text-white mb-0">Empresas de Toda SP</h5>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
                                        style="width: 55px; height: 55px;">
                                        <i class="fa fa-headphones text-success"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-white mb-2">12 Hours</p>
                                        <h5 class="text-white mb-0">Suporte ao Cliente</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pe-lg-0 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="img/feature.jpg"
                            style="object-fit: cover;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->


    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Equipe</p>
                <h1 class="titles">Time de Regulatório</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item position-relative rounded overflow-hidden ">
                        <div class="overflow-hidden">
                            <img class="img-fluid imgTeam" src="/img/Mari.jpg" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5 class="titles">Maristela Rosa de Carvalho</h5>
                            <p class="text-success">CEO</p>
                            <div class="team-social text-center">
                                <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" id="" data-wow-delay="0.3s">
                    <div class="team-item position-relative rounded overflow-hidden ">
                        <div class="overflow-hidden">
                            <img class="img-fluid imgTeam" src="/img/Victoria.jpg" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5 class="titles">Victoria Soares</h5>
                            <p class="text-success">Documentos e Assistencia</p>
                            <div class="team-social text-center">
                                <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Se quiser colocar mais membros -->
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid imgTeam" src="img/Marcelo.jpg" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5 class="titles">Marcelo Miranda</h5>
                            <p class="text-success">Direito e Transporte</p>
                            <div class="team-social text-center">
                                <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item position-relative rounded overflow-hidden ">
                        <div class="overflow-hidden imgTeam">
                            <img class="img-fluid" src="img/Matheus.jpg" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5 class="titles">Matheus Carvalho</h5>
                            <p class="text-success">Desenvolvimento de Projetos</p>
                            <div class="team-social text-center">
                                <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Appointment Start -->
    <form action="https://formsubmit.co/maryfarma2020@gmail.com" method="post">
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <p class="d-inline-block border rounded-pill py-1 px-4">Contato</p>
                        <h1 class="mb-4 text-success">Entre em Contato direto com Dr(a).Maristela Carvalho</h1>
                        <p class="mb-4 tex text-success">Para mais informações ou orientações sobre drogarias, entre em
                            contato com a Dra. Maristela Carvalho, especialista no assunto.</p>
                        <div class="bg-light rounded d-flex align-items-center p-2 mb-4">
                            <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white"
                                style="width: 55px; height: 55px;">
                                <i class="fa fa-phone-alt text-success"></i>
                            </div>
                            <div class="ms-4">
                                <p class="mb-2">Whatssap</p>
                                <h5 class="mb-0">+55 (11) 98849-4342</h5>
                            </div>
                        </div>
                        <div class="bg-light rounded d-flex align-items-center p-2">
                            <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white"
                                style="width: 55px; height: 55px;">
                                <i class="fa fa-envelope-open text-success"></i>
                            </div>
                            <div class="ms-4">
                                <p class="mb-2">E-mail@</p>
                                <h5 class="mb-0">maryfarma2020@gmail.com</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="bg-light rounded h-100 d-flex align-items-center p-5">
                            <form>
                                <div class="row g-3">
                                    <div class="col-12 col-sm-6">
                                        <input type="text" class="form-control border-0" placeholder="Nome Completo"
                                            style="height: 55px;">
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <input type="email" class="form-control border-0" placeholder="Seu Email"
                                            style="height: 55px;">
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <input type="text" class="form-control border-0" placeholder="Seu Telefone"
                                            style="height: 55px;">
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <select class="form-select border-0" style="height: 55px;">
                                            <option selected>Quem deseja contatar</option>
                                            <option value="1">Dr(a) - Maristela Rosa de Carvalho</option>
                                            <option value="2">Assistente Documentação - Victoria Soares de Souza</option>
                                        </select>
                                    </div>
                                    <div class="col-12">
                                        <textarea class="form-control border-0" rows="5"
                                            placeholder="Digite aqui ..."></textarea>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-success text-white w-100 py-3"
                                            type="submit">Enviar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- Appointment End -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">FeedBack</p>
                <h1 class="text-success">Clientes satisfeitos, parceiros fieis!</h1>
            </div>
            <div class="owl-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-item text-center">

                    <div class="testimonial-text rounded text-center p-4">
                        <p>"Graças à M&F Assessoria, conseguimos obter todas as licenças necessárias para nossa
                            distribuidora de forma muito mais rápida do que esperávamos. A equipe não só conhecia as
                            normas, mas também tinha uma ótima relação com os órgãos reguladores, o que facilitou
                            bastante o processo. Com certeza, uma parceira valiosa para quem deseja se estabelecer no
                            setor comercial de forma eficaz e tranquila."</p>
                        <h5 class="mb-1 text-success">Carol Badoco</h5>
                        <span class="fst-italic text-success">Empresária de Lojas Ultrafarma</span>
                    </div>
                </div>
                <div class="testimonial-item text-center">

                    <div class="testimonial-text rounded text-center p-4">
                        <p>"A M&F Assessoria se destacou pelo seu conhecimento profundo na área regulatória. O suporte
                            que recebemos para a regularização da nossa drogaria foi fundamental. A equipe foi proativa,
                            sempre pronta para esclarecer dúvidas e agilizar processos, o que nos permitiu iniciar
                            nossas operações sem contratempos. Recomendo para quem busca segurança e agilidade na
                            abertura de estabelecimentos."</p>
                        <h5 class="mb-1 text-success">Rogerio Distribuidora</h5>
                        <span class="fst-italic text-success">CEO Distribuidora</span>
                    </div>
                </div>
                <div class="testimonial-item text-center">

                    <div class="testimonial-text rounded text-center p-4">
                        <p>"Estou extremamente satisfeito com o atendimento da M&F Assessoria. Desde o primeiro contato,
                            a equipe se mostrou atenta às nossas necessidades específicas e ofereceu soluções
                            personalizadas. O acompanhamento durante o processo de abertura da nossa loja foi impecável,
                            garantindo que todos os requisitos regulatórios fossem cumpridos. A M&F realmente se
                            preocupa com o sucesso de seus clientes."</p>
                        <h5 class="mb-1 text-success">Leandro</h5>
                        <span class="fst-italic text-success">Empreendedor de Drogaria</span>
                    </div>
                </div>
                <div class="testimonial-item text-center">

                    <div class="testimonial-text rounded text-center p-4">
                        <p>"Trabalhar com a M&F Assessoria foi uma experiência muito positiva. A transparência nas
                            informações e o comprometimento da equipe em resolver questões regulatórias foram
                            impressionantes. Eles nos mantiveram informados em cada etapa do processo de abertura da
                            nossa drogaria, o que nos deu confiança para seguir em frente. Sem dúvida, uma empresa que
                            prioriza a ética e a satisfação do cliente!"</p>
                        <h5 class="mb-1 text-success">Alexandre</h5>
                        <span class="fst-italic text-success">Diretor de Eventos</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-success text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-light mb-4">Endereço</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Rua São Teodoro nº 808, Vila Carmosina, SP
                        - Brasil</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+55 (11) 98849-4342</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>maryfarma2020@gmail.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social rounded-circle" href="" alt="Twitter"><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social rounded-circle" href="" alt="Facebook"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social rounded-circle" href="" alt="Canal do Youtube"><i
                                class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social rounded-circle" href="" alt="lInkedin"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-light mb-4">Serviços</h5>
                    <a class="btn btn-link" href="">AFE- Autorização de Funcionamento</a>
                    <a class="btn btn-link" href="">Sivisa</a>
                    <a class="btn btn-link" href="">CRF - Conselho Regional de Farmácia</a>
                    <a class="btn btn-link" href="">AVCB - Auto Vistoria do Corpo de Bombeiros</a>
                    <a class="btn btn-link" href="">Alvára de Prefeitura</a>
                    <a class="btn btn-link" href="">Limpurb</a>
                    <a class="btn btn-link" href="">Pop's de Drogaria</a>
                    <a class="btn btn-link" href="">Placas de Sinlaização</a>
                    <a class="btn btn-link" href="">Laboratório</a>
                    <a class="btn btn-link" href="">Clinica de Estática</a>
                    <a class="btn btn-link" href="">Distribuidoras</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-light mb-4">Assitencia de Navegaçaões</h5>
                    <a class="btn btn-link" href="/about">Sobre</a>
                    <a class="btn btn-link" href="/contact">Contato</a>
                    <a class="btn btn-link" href="/service">Outros Serviços</a>
                    <a class="btn btn-link" href="">Terms & Condition</a>
                    <a class="btn btn-link" href="/contact">Support</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-light mb-4">Agradecimentos</h5>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <p>A M&F Assessoria agradece sinceramente a todos os nossos clientes e parceiros pelo apoio
                            contínuo e pela confiança em nossos serviços. É um privilégio poder colaborar com você em
                            assuntos regulatórios de farmácias e drogarias. Nosso compromisso é fornecer orientação de
                            qualidade e ajudar na construção de um setor mais seguro e eficiente. Agradecemos pela
                            parceria e estamos sempre à disposição para atender suas necessidades.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">Feito por Matheus David de Carvalho</a>, Totalmente
                        exclusivo e sem direitos de copyright.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Site Oficial<a class="border-bottom" href="/"> M&F Assessoria</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-success btn-lg-square rounded-circle back-to-top"><i
            class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>